[submodule "libhotstuff"]
	path = libhotstuff
	url = https://github.com/Esion-lin/libhotstuff.git
[submodule "compass"]
	path = compass
	url = https://github.com/Esion-lin/compass.git
[submodule "iri"]
	path = iri
	url = https://github.com/Esion-lin/iri.git
